$color1: #fffcca;
$color2: #55e9bc;
$color3: #11d3bc;
$color4: #537780;

.thumbnail {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative; 
}

.thumbnail img {
  width: 100%;
  max-height: 300px;
}

.thumbnail-text {
  width: 100%;
  font-size: 100%;
  text-align: center;
  bottom: 4px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgba(0,0,0,0.4);
  position: absolute;
}

.thumbnail-upvote {
  width: 20%;
  font-size: 100%;
  text-align: center;
  //top: 4px;
  left: 0px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgba(255,0,0,1);
  position: absolute;
}

.thumbnail-downvote {
  width: 20%;
  font-size: 100%;
  text-align: center;
  //top: 4px;
  right: 0px;
  margin: 0;
  padding: 0;
  color: #fff;
  background: rgba(0,0,255,1);
  position: absolute;
}

.navbar-link {
  display:block;
  width:100%;
}

.history-toy-thumbnail {
  max-height: 200px;
}

.history-comment-input {
  width: 100%;
}

.history-row {
  border-top: solid;
  border-width: 2px;
  border-color: $color2;

  & p {
    margin-top: 0;
  }
}

.history-rate-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.history-rate-label {
  display: inline-block;
}

.field_with_errors {
  input, select {
    border: 1px solid red;
  }
}
