// Place all the styles related to the toys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.toy-image {
  max-height: 500px;
}

.toy-tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.toy-tag-list-item {
  display: inline-block;
  margin: 0 .3em 0 0;
  padding: 0;
}

.toy-tag {
  display: inline-block;
  padding-left: 5px;

  max-width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 1em;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  white-space: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #333;
  font-size: 90%;
  text-decoration: none;
}

$color2: #55e9bc;

.toy-tag:hover {
  background-color: $color2;
  border: 1px solid #3498db;
  color: #fff;
}
